@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

header {
    margin: 10px;
    margin-left: 0;
    padding: 5px;
    background-color: rgb(241, 241, 241);
}

header > button {
    border: none;
    margin-left: 40px;
    background-color: transparent;
    color: black;
    /*box-shadow: #212121 0 0 10px;
    border-radius: 100000px;*/
}

.dark > * {
    color: white;
    background-color: rgb(21, 21, 21);
}

.dark {
    background-color: rgb(21, 21, 21);
}

.dark > header > button {
    color: white;
}

.dark > main[data-md] > section[data-md]#markdownWrapper > textarea#markdown {
    background-color: #212121;
    color: white;
}

*,
#markdownWrapper {
    transition: 0.3s;
}

body,
html {
    margin: 0;
}

body {
    height: 100%;
}

main[data-md] {
    display: flex;
}

section[data-md] {
    padding: 10px;
    flex: 50%;
}

body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Vollkorn", serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2em;
}

pre,
code {
    font-family: "PT Mono", monospace;
}

#markdown {
    border: none;
    background-color: white;
    color: #212121;
    height: 100%;
    width: 100%;
    font-family: "PT Mono", monospace;
    resize: none;
}

blockquote {
    margin-left: 0;
    padding-left: 40px;
    border-left: 3px solid rgb(177, 177, 177);
}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(15, 110, 253);
}

header > .no-margin {
    margin-left: 0;
}

header > .extra-margin {
    margin-left: 40px;
}

button,
input,
select {
    font-family: "Inter", sans-serif;
}

input,
select {
    background-color: white;
    color: black;
    border-radius: none;
    border: none;
    padding: 5px 10px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

body.dark > * > input,
body.dark > input,
body.dark > * > select,
body.dark > select {
    background-color: #212121;
    color: whitesmoke;
}

#error {
    color: #a00;
}

.pretip {
    color: #777777;
}

#tip {
    color: #868686;
}
